@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Besley&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap');
body {
    font-family: 'Hina Mincho', serif;
    font-size: 100%;
   // font-weight: 100%;
   
}

button {
    font-family: 'Hina Mincho', serif;
    font-weight: 100%;
    font-size: 100%;
    line-height: 1rem;
    line-height: 1.5rem;
}