$colour-primary: #fafafa;
$colour-secondary: #2b948f;
$colour-red: #d64343;
$colour-accent: #eeeeee;
$colour-title: #e4e3e370;
$colour-border: #b8b8b8c4;
$colour-transparent: #11ffee00;
$layout-margin: 5rem;
$grid-gutter: $layout-margin * .1;
$heading-shadow-size: .90rem;


